name: Integration Tests

on:
  push:
    paths:
      - '**.php'
      - 'composer.json'
      - 'phpunit.xml.dist'
      - '.wp-env.json'
      - '.github/workflows/integrations.yml'
  pull_request:
    branches: [develop, main]
    paths:
      - '**.php'
      - 'composer.json'
      - 'phpunit.xml.dist'
      - '.wp-env.json'
      - '.github/workflows/integrations.yml'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  integration-tests:
    name: WP ${{ matrix.wordpress }} on PHP ${{ matrix.php }}${{ matrix.multisite && ' (MS)' || '' }}
    runs-on: ubuntu-latest
    timeout-minutes: 20

    strategy:
      fail-fast: false
      matrix:
        include:
          # Check lowest supported WP version, with the lowest supported PHP.
          - wordpress: '6.4'
            php: '7.4'
          # Check latest WP with the latest PHP.
          - wordpress: 'master'
            php: 'latest'

    env:
      WP_ENV_PHP_VERSION: ${{ matrix.php }}
      WP_ENV_CORE: ${{ matrix.wordpress == 'master' && 'WordPress/WordPress#master' || format('https://wordpress.org/wordpress-{0}.zip', matrix.wordpress) }}

    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Setup Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 20
          cache: npm

      - name: Install Node.js dependencies
        run: npm ci

      - name: Setup PHP ${{ matrix.php }}
        uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # 2.36.0
        with:
          php-version: ${{ matrix.php }}
          coverage: none

      - name: Install Composer dependencies
        uses: ramsey/composer-install@3cf229dc2919194e9e36783941438d17239e8520 # v3.1.1

      - name: Start wp-env
        run: npm run wp-env start

      - name: Run integration tests (single site)
        if: ${{ ! matrix.multisite }}
        run: composer test:integration

      - name: Run integration tests (multisite)
        if: ${{ matrix.multisite }}
        run: composer test:integration-ms
